/* 
    Document   : geral css
    Author     : KLEBER DE SOUZA
    Description:
        Formata o painel admin do projeto2016 KLSDESIGNER.
*/
html {  
    font-family: 'Roboto Condensed', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;  
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0; 
    padding: 0; 
    background-color: #b5cedc ; 
    color: #fff;
}

/*CORES TEXTO*/
.txtRed{color: red;}
.txtVerde{color: #06b70d;}
.txtOrange{color: #cc6d00;}
.txtAzul{color: #337ab7;}
.txtRoxo{color: #8a2eb8;}
.txtBranco{color: #fff;}
.txtPreto{color: #000;}
.txtRubi{color: #800;}
.txtOcre{color: #C90;}
.txtMusgo{color: #663;}
.txtAqua{color: #3CC;}

/*POSIÇÃO TEXTO*/
.txtCenter{text-align: center;}
.txtLeft{text-align: left;}
.txtRight{text-align: right;}
.txtblue{color: #006699;}

/*TAMANHO DE FONTES*/
.size10{font-size: 10px;}
.size11{font-size: 11px;}
.size12{font-size: 12px;}
.size15{font-size: 15px;}
.size20{font-size: 20px;}

/*COR DE FUNDO*/
.bkBranco{background-color: #fff;}
.bkPreto{background-color: #000;}
.bkvermelho{background-color: #ff3b3b;}
.bkgrafite{background-color: #424242;}
.bkcinza{background-color: #edf0fd;}
.bkRoxo{background-color: #8a2eb8;}
.bkAzulEscuro{background-color: #0a436c;}

/*MARGENS*/
.mg20T{margin-top: 20px;}
/*=======*/
.mg20B{margin-bottom: 20px;}
/*=======*/
.mg20R{margin-right: 20px;}
.mg24R{margin-right: 24px;}
.mg27R{margin-right: 27px;}
/*=======*/
.mg20L{margin-left: 20px;}

/*PADINGS*/
.pd20T{padding-top: 20px;}
/*=========*/
.pd20B{padding-bottom: 20px;}


/*CONFIG MENU*/
.navbar-brand{height: auto;}
#base{width: 100%; /*margin-top:80px;*/}
.panel{background-color: #edf0fd; border-radius: 0; box-shadow: none; margin: 0 -20px;}
.list-group-item:first-child{border-top-left-radius: 0; border-top-right-radius: 0; }
.list-group-item.active{background-color: #e0943a; border-color: #797979;}
/*.list-group-item-default{background-color: #222;}*/
.list-group-item{background-color: #424242; border: none; border-top: 1px solid #797979; border-bottom: 1px solid #797979;}
a.list-group-item{color: #fff; }
a.list-group-item:focus, a.list-group-item:hover{background-color: #b5cedc; color: #fff;}
.list-group-item-sub{border: none;}
a.list-group-item-sub{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px; 
    background-color: #006f39;
    color: #fff; 
    text-decoration: none;
}
a.list-group-item-sub:focus, a.list-group-item-sub:hover{background-color: #2b542c; color: #fff;}

/*ICON*/
.glyphicon{margin-right: 5px;}

/*CONTEUDO*/
#conteudo{width: 100%; margin-bottom: 25px;}

/*WELLS*/
.well{background-color: #0c4b79; border: none;}
.well.seach{background-color: #dae5ea;}
.well.seach h3{margin-top: 0; margin-bottom: 15px}
.well.corWell{background-color: #dae5ea;}

/*.corGraVerde{background-color: #109618}
.corGraVermelho{background-color: #dc3912}
.corGraLaranja{background-color: #ff9900}
.corGraAzul{background-color: #3366cc}*/

.corGraVerde{color: #109618}
.corGraVermelho{color: #dc3912}
.corGraLaranja{color: #ff9900}
.corGraAzul{color: #3366cc}



/*PAINEL*/
.panel-heading{border-top-left-radius: 0; border-top-right-radius: 0;}
.panel-body{padding: 15px 15px 0 15px;}

/*CARD*/
.bg-secondary{background-color: #ab9071!important}
/*.card-body{background-color: #edf0fd; color: #0a436c}
.card-body .card-btn{background-color: #000;}*/

/*ERROR*/
.alert-warning{background-color: #fdf0ab;}
.alert-success{background-color: #80f188;}
.alert-danger{background-color: #ff3b3b; color: #fddbda;}
.alert-info{background-color: #67ccff; color: #124c69;}

/*FORMULARIO*/
input[type=radio] {
    visibility: hidden;
    margin-right: 8px;
    cursor: pointer;
}

/*FORMATA LINKS*/
a.del{color: red;}
a.del:hover{color: #8f0000;}
a.voltar{color: #00afef;}
a.voltar:hover{color: #ccc;}

/*FORMULARIOS*/
#frm input[type=radio]:before {
    content: " ";
    background-color: #ccc;
    display: inline-block;
    margin-right: 15px;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    visibility: visible;
    box-shadow: 0 0 0px 2px #999;
}

#frm input[type=radio]:checked:before {
    background-color: #ff3b3b;
}

/* CHECKBOX */
#frm input[type=checkbox] {
    visibility: hidden;
    margin-right: 8px;
    cursor: pointer;
}

#frm input[type=checkbox]:before {
    content: " ";
    display: inline-block;
    margin-right: 25px;
    width: 16px;
    height: 16px;
    visibility: visible;
    border: 2px solid #999;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    line-height: 10px;
    /*font-size: 15px;*/
    /*text-align: center;*/
    /*font-weight: bold;*/
    color: #052;
}

#frm input[type=checkbox]:checked:before {
    content: "\e013";
    font-family: 'Glyphicons Halflings';
    font-size: 17px;
    color: #ff3b3b;
}

/*alteração para bootstrap*/
.form-control{font-size: 16px; color: #01086b; font-weight: bold;}
.hover-color > tbody > tr:hover{background-color: #C6E2FF;}

/*FORMATA COPY*/
.copy{margin: 10px 0; color: #0d1c61;}

/*JANELA MODAL*/
.modal-content{border-radius: 0;}
.modal-header { background-color: #337ab7; color: #fff;}
.modal-body{color: #757575;}

/* NAVBAR E NAVBAR-BRAND */
.navbar-brand{padding: 20px 20px;}
.navbar-inverse{ background-size: 100%; background-color: #edf0fd; border-color: #0099cc; border-bottom-width: 4px;}
.navbar-inverse .navbar-nav>li>a{color: #00afef ;} /*#00afef*/

.bg-light{background-image: url(../images/fundo-topo.png); background-color: #edf0fd; background-size: 100%; border-color: #0099cc; border-bottom-width: 4px;}

/*PAGINATOR*/
/*.paginator{padding: 10px; background: #ced2d4; text-align: center}
.paginator a, .paginator span{margin: 0 5px; padding: 3px 8px; font-size: 14px; color: #333; font-weight: 600}
.paginator a:hover{background: #09f; color: #fff;}
.paginator .atv{background: #333; color: #fff;}*/

/*PAGINATOR*/
.paginator{padding: 10px 10px 0 10px; /*background: #fff;*/ text-align: center}
.paginator a, .paginator span{margin: 0 5px; border: 1px solid; padding: 3px 8px; font-size: 14px; color: #337ab7; font-weight: 600}
.paginator a:hover{background: #00afef; color: #fff;}
.paginator .active{background: #00afef; color: #fff;}
.paginator li{ margin: 0; display: inline;}


/*GRAFICO*/
.fundoGrafico{ background-color: #fff;}

.btnFormat{
    color: #00afef; 
    font-size: 20px;
    line-height: 1;    
}
.btnFormat a:hover{
    color: #fff;
}

.btn-primary{background-color: #064c8e; border-color: #064c8e;}

/*Dashboards*/
.blocos{width: 1240px; height: 114px; padding:20px 0 10px 0;}
.bloco{width: 228px; float: left;}

/*BORDAS*/
.border1{border: 5px solid #337ab7;}
.border2{border: 5px solid #8a2eb8;}
.border3{border: 5px solid #109618;}
.border4{border: 5px solid #3366cc;}
.border5{border: 5px solid #ff9900;}
.border6{border: 5px solid #dc3912;}
.border7{border: 5px solid #000;}
.border8{border: 5px solid #800;}
.border9{border: 5px solid #C90;} 
.border10{border: 5px solid #663;} 
.border11{border: 5px solid #3CC;} 

.border1, .border2, .border3, .border4, .border5, .border6, .border7, .border8, .border9, .border10, .border11{border-top: 0px ; border-bottom: 0px ;}


/*TELA MEDIA*/
@media (min-width: 768px){
    .navbar-right{margin-right: 0; margin-top: 15px;}    
}


/*@media (min-width:769px) and (max-width:991px) {
    
    .portfolio_images_overlay {
        padding: 0px;
    }
}
@media (max-width:768px) {
    .portfolio_images_overlay{
        padding: 170px 20px;
    }
}
@media (max-width:580px) {
    .portfolio_images_overlay{
        padding: 100px 20px;
    }
}
@media (max-width:480px) {
    .portfolio_images_overlay{
        padding: 40px 20px;
    }
}
@media (max-width:320px) {
    .portfolio_images_overlay{
        padding: 20px;
    }
}*/
